@model ARJOU_V001.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstiloDeseado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstiloDeseado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorDeseado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorDeseado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongitudDeseada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongitudDeseada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionAdicional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionAdicional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenReferencia)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@Html.DisplayFor(model => model.ImagenReferencia)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioEstimado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioEstimado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
