@using ARJOU_V001.ViewModels
@model ARJOU_V001.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstiloDeseado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstiloDeseado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorDeseado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorDeseado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongitudDeseada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongitudDeseada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionAdicional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionAdicional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenReferencia)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@Html.DisplayFor(model => model.ImagenReferencia)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioEstimado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioEstimado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>

        @if (Model.PrecioEstimado > 0 && !Model.ConfirmadoPorUsuario)
        {
            <form asp-action="ConfirmarPedido" asp-route-id="@Model.Id" method="post">
                <button type="submit">Confirmar Pedido</button>
            </form>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
